<div class="home-container">
    <section class="hero-section">
      <div class="hero-content">
        <h1>Welcome to Medihub</h1>
        <p>Your trusted source for high-quality medical supplies.</p>
        <a routerLink="/register" class="btn btn-primary">Shop Now</a>
      </div>
      <div class="hero-image">
        <img class="logo" src="assets/logo.png" alt="MediHub logo">
      </div>
    </section>
  
    <section class="about-section">
      <div class="about-image">
        <img src="assets/about-image.png" alt="About Us">
      </div>
      <div class="about-content">
        <h2>About Medihub</h2>
        <p>Medihub is dedicated to providing a wide range of medical supplies including pharmaceuticals, equipment, and everyday essentials. We prioritize quality, affordability, and customer satisfaction.</p>
        <a routerLink="/login" class="btn btn-primary">Learn More</a>
      </div>
    </section>
  
    <section class="contact-section">
        <div class="contact-content">
          <h2>Contact Us</h2>
          <p>If you have any questions or need assistance, please don't hesitate to contact our customer support team. We're here to help!</p>
          <div class="contact-info">
            <div class="contact-item">
              <mat-icon>email</mat-icon>
              <span>medihub.tests@gmail.com</span>
            </div>
            <div class="contact-item">
              <mat-icon>phone</mat-icon>
              <span>+1 234 567 890</span>
            </div>
          </div>
        </div>
      </section>
  </div>
  